/* Quiz styling */
#quizContainer {
	margin-top: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size: small;
}

.question {
	margin-bottom: 15px;
}

#quizNavigation button,
#quizToggle,
#submitQuiz,
#retryQuiz {
	display: inline-block;
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#quizNavigation button:hover,
#quizToggle:hover,
#submitQuiz:hover,
#retryQuiz:hover {
	background-color: #45a049;
}

#quizNavigation {
	margin-top: 20px;
}

#result {
	margin-top: 20px;
	font-weight: bold;
}

#quizToggle {
	margin-bottom: 20px;
}
