/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li,
a {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* General body styling */
body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	color: #333;
	background: linear-gradient(to top right, #0037eb, #5ce71c);
	margin: 20px;
	font-size: 1.1rem;
}

/* Main container styling */
#main_container {
	max-width: 1200px;
	margin: 0 auto;
	background: #ffffff;
	padding: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	border-radius: 5rem;
}

/* Header styling */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	border-bottom: 2px solid #ff6347;
	padding-bottom: 10px;
}

header img {
	border-radius: 50%;
}

header h1 {
	font-size: 2em;
	margin: 0;
	color: #ff6347;
}

header span {
	font-size: 1.2em;
	color: #20b2aa;
}

.cv-download-link {
	text-decoration: none;
	background: #eb2f0e;
	color: #fff;
	padding: 10px 10px;
	font-size: 1rem;
	border-radius: 5px;
	transition: background 0.3s;
}

.cv-download-link:hover {
	background: #ff4500;
	text-decoration: none;
}

/* Section styling */
#both {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#left,
#right {
	flex: 1;
	min-width: 300px;
	margin: 10px;
}

#left {
	max-width: 300px;
}

h2 {
	color: #ff6347;
	margin-bottom: 10px;
}

h3 {
	margin: 10px 0 5px 0;
	color: #20b2aa;
}

ul {
	list-style-type: disc;
	margin-left: 20px;
}

a {
	color: #ff6347;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Footer styling */
#footer {
	margin-top: 20px;
	padding-top: 10px;
	border-top: 2px solid #ff6347;
	font-size: 0.7em;
	color: #777;
	text-align: center;
}

/* Responsive styling */
@media (max-width: 850px) {
	header {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	header img {
		margin-bottom: 10px;
	}

	#both {
		flex-direction: column;
	}

	#left,
	#right {
		max-width: 100%;
	}
	.cv-download-link {
		padding: 8px 16px; /* Slightly smaller padding for tablets */
		font-size: 0.9em; /* Adjust font size */
	}
	#prof {
		padding-bottom: 10px;
	}
}

@media (max-width: 480px) {
	header h1 {
		font-size: 2em;
		text-align: center;
	}

	header span {
		font-size: 1em;
	}

	.cv-download-link {
		padding: 6px 12px; /* Even smaller padding for mobile phones */
		font-size: 0.8em; /* Adjust font size further */
		width: 100%; /* Make the link full width on small screens */
		box-sizing: border-box; /* Ensure padding is included in the width */
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.2em;
	}

	#prof {
		padding-bottom: 10px;
	}
}
